<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= fileName %></title>
    <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
  </head>
  <body>
    <video
      id="my-video"
      class="video-js"
      controls
      preload="auto"
      width="640"
      height="264"
      data-setup="{}"
    >
      <source src="<%= filePath %>" type="<% mimeType %>" />
      <track
        label="Português"
        kind="subtitles"
        srclang="pt"
        src="<%= captionsPath %>"
        default
      />
    </video>
  </body>
</html>
